
<h1>Spots#index</h1>
<p>Find me in app/views/spots/index.html.erb</p>

<%= render 'form' %>

<ul>
  <% if @menu_items %>
    <% @menu_items.each do |menu_item| %>
      <li><%= menu_item %></li>
    <% end %>
  <% end %>
</ul>
