
<h1>Spots#index</h1>
<p>Find me in app/views/spots/index.html.erb</p>

<%= render 'form' %>

<ul>
  <% if @menu_items %>
    <% @menu_items.each do |menu_item| %>
      <li><span class="menu_item"><%= menu_item.menu_item %></span>
        <span class="item_price"><%= menu_item.price %></span>
      </li>
    <% end %>
  <% end %>
</ul>
