<ul>
  <% if @all_data %>
    <% @all_data.each do |data| %>
      <li>
        <span class="menu_item"><%= data[1].name %></span>
        <span class="menu_item"><%= data[2] %></span>
        <span class="menu_item"><%= data[0].menu_item %></span>
        <span class="item_price"><%= data[0].price %></span>
      </li>
    <% end %>
  <% end %>
</ul>
