<div class="jumper-body">
  <li class="has-form">
    <div class="row collapse">

      <ul>
        <li>
          <div class="large-4 small-4 columns">
            <%= button_to "Let's Eat", food_searches_path, class: "alert button" %>
          </div>
        </li>
      </ul>
    </div>
  </li>
</div>
