<div class="jumper-body">
  <li class="has-form">
    <div class="row collapse">
      <ul>
        <li>
          <div class="large-4 small-4 columns">
            <%= button_to "Let's Eat", new_food_search_path, class: "alert button",
                method: 'get' %>
          </div>
        </li>
      </ul>
    </div>
  </li>
</div>
