.popular-searches {
  display: block;
}

.side-content-container {
  height: 33%;
}

.img {
}

.food-search-container-fixed {
  height: 68Vh;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-y: auto;
}

.food-search-container-relative {
  height: 68Vh;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-y: auto;
}

.accordion-navigation {
  opacity: 0.8;
}
