.new-row-container {
  height: 33.3333%;
  width: 80%;
}

.top-row {
}

.top-row .upper-row-container {
  height: 50%;
}

.top-row .bottom-row-container {
  height: 50%;
}

.top-row .bottom-row-container h3 {

}
