

<div class="top-title">
  <h1>Let's Meat<h1>
</div>

<div class="main-body">

	<form action="/user/new" method="post">
		<input type="text" name="username" id="username" class="username" placeholder="Enter username(8-16 characters)">
		<input type="password" name="password" id="password" class="password" placeholder="Enter a password(8-20 characters)">

		<input type="submit" id="submit_item">
	</form>
	
</div>

<script src="/javascripts/vendor/jquery-1.11.1.min.js"></script>
<script src="/javascripts/alert.js"></script>

