<!DOCTYPE html>
<html>
<head>
  <title>LetsMeat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class="navbar-container">
    <ul class="nav-links-right">
      <li class="nav-link">
        <a href="/" class="first-link" ><h4>Home</h4></a>
      </li>
      <li class="nav-link">
        <a href="/auth/github" class="second-link" ><h4>Sign in with Github</h4></a>
      </li>
        <li class="nav-link">
          <a href="https://www.facebook.com/dialog/oauth?
    client_id=1560786344203181
   &redirect_uri= https://www.facebook.com/connect/login_success.html" class="fb-link" ><h4>Login with Facebook!</h4></a>
        </li>
      <li class="nav-link">
        <a href="/login" class="login-link" ><h4>Login</h4></a>
      </li>
    </ul>
  </div>

  <ul class="nav-links-middle">
    <li class="search-form">
      <form action="/search/:term" method="post">
        <input type="text" name="term" value="term" placeholder="Enter Restaurant, Food Category, Food Item">
        <input type="submit">
      </form>
    </li>
  </ul>

  <%= yield %>

</body>
</html>
